.rate-count {
  font-weight: bold;
  color: green;
}

input[type='radio'] {
  visibility: hidden;
}

input[type='radio']:checked + label {
  border: solid 1px green;
  border-radius: 78%;
  background: #0080007a;
  padding: 1%;
}

.colour-img {
  padding: 1%;
  width: 10%;
}

.colour-dd {
  display: flex;
  align-items: flex-start;
}

.colour-dd-tt {
  margin: 2%;
  color: white !important;
  font-weight: bold;
  width: 90%;
}

.colour-btn-dp {
  margin: 0.5vw;
}

#top-section {
  flex-direction: column;
}

#bottom-section {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#prod-specifications {
  margin-top: 1rem;
}

@media (min-width: 700px) {
  #top-section {
    flex-direction: row;
    align-items: center;
  }
  #img-carousel {
    display: flex;
    justify-content: center;
  }
  #img-carousel-inner {
    max-width: 70%;
  }
}
